<div class="row">
 <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h4>Gestion des utilisateurs</h4></nb-card-header>
      <nb-card-body>
		  <button nbButton status="primary" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>UserName</th>
      <th>Profile</th>
      <th>Status</th>
      <th>Date Creation</th>
      <th>Date Activation</th>
      <th>Date Last Connection</th>
      <th>Date Archive</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.login}}</td>
      <td>{{user.profile["naming"]}}</td>
      <td>{{user.status["naming"]}}</td>
      <td>{{user.dateCreation | date:'d/MM/y'}}</td>
      <td>{{user.dateActivation | date:'d/MM/y'}}</td>
      <td>{{user.dateLastConnection | date:'d/MM/y'}}</td>
      <td>{{user.dateArchive | date:'d/MM/y'}}</td>
      <td><button nbButton status="primary" (click)="deleteUser(user)"> Delete</button>
        <button nbButton status="primary" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
  </tbody>
		  </table>
	 </nb-card-body>
	</nb-card>
</div>
</div>
