<html>
<style>
h1 {
  	font-family:calibri;
}
label {
	font-family:calibri;
}

</style>
<div class="imgcontainer">
	<img src="assets/img/SII_logo.jpg" alt="SII" class="sii">
	<h1 align="center">BCC - Besoins clients Candidats</h1>
</div>
<form action="action_page.php" method="post">
		<header class="header"> </header>
		<h1 style="color: #002d51;"  align="center">Bienvenue</h1>
		<div class="container1">
			<label style="color: #002d51;" for="uname"><b>Identifiant </b></label>
		</div>
		<div class="container1">
		    <input type="text" placeholder="Votre Identifiant" name="uname" required>
		</div>
		<div class="container1">
		    <label style="color: #002d51;" for="psw"><b>Mot de passe </b></label>
		</div>
		<div class="container1">
		    <input type="password" placeholder="Votre mot de passe" name="psw" required>
		</div>
	<div class="container">
	    <button type="submit">Login</button>
	</div>
</form>

