<div class="row">
 <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h4>Modifier le profil</h4></nb-card-header>
      <nb-card-body>
		  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
		      <input type="hidden" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
			   <div class="row">
			 <div class="col-md-12">
				    <div class="form-group">
				      <label for="naming">Naming:</label>
				      <input type="text" formControlName="naming" placeholder="naming" name="naming" class="form-control" id="naming" required >
				    </div>
				    <button nbButton status="primary">Update</button>
				 </div>
				</div>
		    </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>