<div class="row">
 <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h4>Gestion des profils</h4></nb-card-header>
      <nb-card-body>
		  <button nbButton status="primary"  (click)="addProfile()"> Add Profile</button>
		  <table class="table table-striped">
		    <thead>
		    <tr>
		      <th class="hidden">Id</th>
		      <th>Name</th>  
		      <th>Action</th>
		    </tr>
		    </thead>
		    <tbody>
		    <tr *ngFor="let profile of profiles">
		      <td class="hidden">{{profile.id}}</td>
		      <td>{{profile.naming}}</td>
		      <td><button nbButton status="primary" (click)="deleteProfile(profile)"> Delete</button>
		        <button nbButton status="primary" (click)="editProfile(profile)" style="margin-left: 20px;"> Edit</button></td>
		    </tr>
		    </tbody>
		  </table>
	 </nb-card-body>
	</nb-card>
</div>
</div>
