<div class="row">
 <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header><h4>Ajouter un profil</h4></nb-card-header>
      <nb-card-body>
		<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
		<div class="row">
		 <div class="col-md-12">
    <div class="form-group">
      <label for="naming">Name:</label>
      <input type="text" formControlName="naming" placeholder="naming" name="naming" class="form-control" id="naming">
    </div>

    <button nbButton status="primary">Add</button>
  </div>
      </div>
    </form>
  </nb-card-body>
    </nb-card>
  </div>
</div>